.containercontact {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    transform: translateY(90rem);
  }
  
  .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transform: translate(2rem,12rem);
  }
  
  
  
  .info-box p {
    margin: 0;
    color: #555;
  }
  
  .info-box p strong {
    color: #333;
  }
  
  .form-container {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container button {
    background-color: #c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  @media  screen and (max-width: 768px) {

    .containercontact {
      transform: translateY(230rem);
    }
    
    .info-box {
      transform: translate(2rem, 0);
    }
    
    .form-container {
      transform: translateY(0);
    }
    
  }